{%extends "base_banwee.html" %}

{% block title %}🤝 Share the Love! Refer a Friend to {{ company_name | default('Our Store') }}{% endblock %}

{% block content %}
<div class="content">
            <p>Hi {{ customer_name | default("there") }},</p>
            <p>
                We're so glad you're enjoying your experience with **{{ company_name | default('our store') }}**!
                If you love our products as much as we do, why not share the joy with your friends and family?
            </p>

            <div class="referral-offer">
                <h3>Give {{ friend_discount | default("$10 Off") }}, Get {{ your_reward | default("$10 Credit") }}!</h3>
                <p>
                    For every friend you refer who makes their first purchase,
                    they'll get **{{ friend_discount | default("a special discount") }}**, and you'll receive
                    **{{ your_reward | default("a reward") }}** as a thank you!
                </p>
            </div>

            <p>
                It's quick, easy, and a win-win for everyone!
            </p>

            <div class="button-container">
                <a href="{{ referral_program_url | default('https://www.yourstoreurl.com/refer') }}" class="button">Refer a Friend Now!</a>
            </div>

            <p>
                Thank you for being a fantastic part of the {{ company_name | default('our') }} community!
            </p>
        </div>

        <div class="footer">
            <p>
                &copy; {{ current_year | default("2025") }} {{ company_name | default("Your Company Name") }}. All rights reserved.<br>
                <a href="{{ unsubscribe_url | default('#') }}">Unsubscribe</a> |
                <a href="{{ privacy_policy_url | default('#') }}">Privacy Policy</a>
            </p>
            <p>Stay connected:
                {% if social_links.facebook %}<a href="{{ social_links.facebook }}">Facebook</a>{% endif %}
                {% if social_links.twitter %}| <a href="{{ social_links.twitter }}">Twitter</a>{% endif %}
                {% if social_links.instagram %}| <a href="{{ social_links.instagram }}">Instagram</a>{% endif %}
            </p>
{% endblock %}
