{%extends "base_banwee.html" %}

{% block title %}⭐ We'd Love Your Feedback! Review Your Recent Purchase{% endblock %}

{% block content %}
<div class="content">
            <p>Hi {{ customer_name | default("there") }},</p>
            <p>
                We hope you're enjoying your recent purchase from **{{ company_name | default('our store') }}**!
                Your feedback is incredibly valuable to us and helps other shoppers make informed decisions.
            </p>
            <p>
                Would you mind taking a moment to share your thoughts on the **{{ product_name | default("product you purchased") }}**?
            </p>

            <div class="product-for-review">
                {% if product_image_url %}
                <img src="{{ product_image_url }}" alt="{{ product_name }}">
                {% endif %}
                <h2>{{ product_name | default("Product Name") }}</h2>
                <p>Click on the stars below to leave a quick rating:</p>
                <div class="star-rating">
                    <a href="{{ review_url }}&rating=1">⭐</a>
                    <a href="{{ review_url }}&rating=2">⭐</a>
                    <a href="{{ review_url }}&rating=3">⭐</a>
                    <a href="{{ review_url }}&rating=4">⭐</a>
                    <a href="{{ review_url }}&rating=5">⭐</a>
                </div>
            </div>

            <p>
                Or, click the button below to write a more detailed review:
            </p>

            <div class="button-container">
                <a href="{{ review_url | default('https://www.yourstoreurl.com/leave-review') }}" class="button">Write a Review</a>
            </div>

            <p>
                Thank you for helping us improve and serve you better!
            </p>
        </div>

        <div class="footer">
            <p>
                &copy; {{ current_year | default("2025") }} {{ company_name | default("Your Company Name") }}. All rights reserved.<br>
                <a href="{{ unsubscribe_url | default('#') }}">Unsubscribe</a> |
                <a href="{{ privacy_policy_url | default('#') }}">Privacy Policy</a>
            </p>
            <p>Stay connected:
                {% if social_links.facebook %}<a href="{{ social_links.facebook }}">Facebook</a>{% endif %}
                {% if social_links.twitter %}| <a href="{{ social_links.twitter }}">Twitter</a>{% endif %}
                {% if social_links.instagram %}| <a href="{{ social_links.instagram }}">Instagram</a>{% endif %}
            </p>
{% endblock %}
