{%extends "base_banwee.html" %}

{% block title %}🎂 Happy Birthday, {{ customer_name | default("You") }}! Here's a Gift From Us!{% endblock %}

{% block content %}
<div class="content">
            <p>Hi {{ customer_name | default("there") }},</p>
            <p>
                The team at **{{ company_name | default('our store') }}** wants to wish you a very happy birthday!
                To celebrate your special day, we've got a gift just for you.
            </p>

            <div class="birthday-offer-box">
                <h2>Your Birthday Gift!</h2>
                <p>{{ birthday_offer_description | default("Enjoy 20% off your next purchase!") }}</p>
                <p>Use your exclusive code:</p>
                <span class="coupon-code">{{ discount_code | default("BDAY20") }}</span>
            </div>

            <p>
                This offer is valid until **{{ expiry_date | default("next month") }}**,
                so don't forget to treat yourself!
            </p>

            <div class="button-container">
                <a href="{{ shop_url | default('https://www.yourstoreurl.com') }}" class="button">Shop Now & Redeem Your Gift!</a>
            </div>

            <p>
                We hope you have a wonderful birthday filled with joy!
            </p>
        </div>

        <div class="footer">
            <p>
                &copy; {{ current_year | default("2025") }} {{ company_name | default("Your Company Name") }}. All rights reserved.<br>
                <a href="{{ unsubscribe_url | default('#') }}">Unsubscribe</a> |
                <a href="{{ privacy_policy_url | default('#') }}">Privacy Policy</a>
            </p>
            <p>Stay connected:
                {% if social_links.facebook %}<a href="{{ social_links.facebook }}">Facebook</a>{% endif %}
                {% if social_links.twitter %}| <a href="{{ social_links.twitter }}">Twitter</a>{% endif %}
                {% if social_links.instagram %}| <a href="{{ social_links.instagram }}">Instagram</a>{% endif %}
            </p>
{% endblock %}
