{%extends "base_banwee.html" %}

{% block title %}⚡ Flash Sale Alert! Don't Miss Out at {{ company_name | default('Our Store') }}!{% endblock %}

{% block content %}
<div class="content">
            <p>Hi {{ customer_name | default("there") }},</p>
            <p>
                This is not a drill! For a very limited time, get incredible discounts on your favorite items at
                **{{ company_name | default('our store') }}**!
            </p>

            <div class="sale-banner">
                <h2>{{ sale_headline | default("Up to 50% Off Everything!") }}</h2>
                <p>Use code: <strong style="font-size: 28px; color: #e67e22;">{{ discount_code | default("FLASH20") }}</strong></p>
                <p class="timer">Sale Ends: **{{ sale_end_time | default("in 24 hours") }}**</p>
            </div>

            <p>
                These deals won't last long, so hurry and grab your favorites before they're gone!
            </p>

            <div class="button-container">
                <a href="{{ sale_url | default('https://www.yourstoreurl.com/flash-sale') }}" class="button">Shop the Flash Sale!</a>
            </div>

            <p>
                Happy Shopping!
            </p>
        </div>

        <div class="footer">
            <p>
                &copy; {{ current_year | default("2025") }} {{ company_name | default("Your Company Name") }}. All rights reserved.<br>
                <a href="{{ unsubscribe_url | default('#') }}">Unsubscribe</a> |
                <a href="{{ privacy_policy_url | default('#') }}">Privacy Policy</a>
            </p>
            <p>Stay tuned for more:
                {% if social_links.facebook %}<a href="{{ social_links.facebook }}">Facebook</a>{% endif %}
                {% if social_links.twitter %}| <a href="{{ social_links.twitter }}">Twitter</a>{% endif %}
                {% if social_links.instagram %}| <a href="{{ social_links.instagram }}">Instagram</a>{% endif %}
            </p>
{% endblock %}
