{% extends "base_banwee.html" %}

{% block title %}📉 Price Drop Alert! {{ product_name | default("An Item You Love") }} Just Got Cheaper!{% endblock %}

{% block content %}
<div class="content">
            <p>Hi {{ customer_name | default("there") }},</p>
            <p>
                Good news! The price of **{{ product_name | default("an item you recently viewed or wishlisted") }}**
                has just dropped at **{{ company_name | default('our store') }}**!
            </p>

            <div class="product-card">
                {% if product_image_url %}
                <img src="{{ product_image_url }}" alt="{{ product_name }}">
                {% endif %}
                <div class="product-info">
                    <h2>{{ product_name | default("Product Name") }}</h2>
                    <p>
                        <span class="old-price">{{ old_price | default("$XX.XX") }}</span>
                        <span class="new-price">{{ new_price | default("$YY.YY") }}</span>
                    </p>
                    <p>{{ product_description | default("A brief description of the product.") }}</p>
                </div>
            </div>

            <p>
                This is a limited-time offer, so don't miss out on grabbing it at this new, lower price!
            </p>

            <div class="button-container">
                <a href="{{ product_url | default('https://www.yourstoreurl.com/product-page') }}" class="button">Shop Now!</a>
            </div>

            <p>
                We hope you enjoy your savings!
            </p>
        </div>

        <div class="footer">
            <p>
                &copy; {{ current_year | default("2025") }} {{ company_name | default("Your Company Name") }}. All rights reserved.<br>
                <a href="{{ unsubscribe_url | default('#') }}">Unsubscribe</a> |
                <a href="{{ privacy_policy_url | default('#') }}">Privacy Policy</a>
            </p>
            <p>Stay connected:
                {% if social_links.facebook %}<a href="{{ social_links.facebook }}">Facebook</a>{% endif %}
                {% if social_links.twitter %}| <a href="{{ social_links.twitter }}">Twitter</a>{% endif %}
                {% if social_links.instagram %}| <a href="{{ social_links.instagram }}">Instagram</a>{% endif %}
            </p>
{% endblock %}
